{% extends "FoodTaster/index.html" %}
{% load static %}
{% block FoodTaster_content %}

<h2>Lista de Ingredientes existentes</h2>
<hr></hr>

<ul>
    {% for ingredient in ingredients %}
    <li class="list-group list-group-horizontal">
        <p style="background-color: #050505b1; border-color: black; border-radius: 0.5%;">
        <p>{{ingredient.name}}</p>
        (
        <a href="{% url 'FoodTaster:dish-detail' dish.id %}">
            <i class="fa fa-eye" style="color: rgb(255, 255, 255); "> </i>
        </a>
        )
        </p>
    </li>
    {% endfor %}
</ul>

<a class="card_custom" href="{% url 'FoodTaster:ingredient-add' %}">Crear nuevo Ingrediente</a>

{% endblock %}