{% extends "FoodTaster/index.html" %}
{% load static %}
{% block FoodTaster_content %}

<h2>Lista de Recetas para el plato: {{ dish.name }}</h2>
<hr></hr>

<ul>
    {% for recipe in Recipes %}
    <li class="list-group list-group-horizontal">
        <p style="background-color: #050505b1; border-color: black; border-radius: 0.5%;">
        <a href="{% url 'FoodTaster:recipe-detail' recipe.id %}">{{recipe.name}}</a>
        (
        <a href="{% url 'FoodTaster:recipe-detail' recipe.id %}">
            <i class="fa fa-eye" style="color: rgb(255, 255, 255); "> </i>
        </a>
        )
        </p>
    </li>
    {% endfor %}
</ul>

<a class="card_custom" href="{% url 'FoodTaster:recipe-add' %}">Crear nuevo Plato</a>

{% endblock %}